#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
        	shift_left: shift_left {
            		compatible = "zmk,behavior-mod-morph";
	            	#binding-cells = <0>;
	            	bindings = <&kp LEFT>, <&kp HOME>;
	            	mods = <(MOD_LSFT|MOD_RSFT)>;
        	};

        
	        shift_up: shift_up {
	            	compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp LEFT>, <&kp PAGE_UP>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
	        };

	        shift_down: shift_down {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp LEFT>, <&kp PAGE_DOWN>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
        	};

        	shift_right: shift_right {
	        	compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp LEFT>, <&kp END>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
			bindings = <
                		&kp ESC	 &kp F  &kp W  &kp B      &kp V       &kp ENTER		&none  &kp K     &kp Y      &kp Z  &kp X  &kp SPACE
                		&kp TAB	 &kp A  &kp S  &kp T      &kp E       &kp SEMI		&kp Q  &kp N     &kp I      &kp R  &kp O  &kp BACKSPACE
		                &none    &kp U  &kp L  &kp D      &kp C       &none		&none  &kp H     &kp M      &kp G  &kp P  &none
		                			&sk LGUI  &sk LSHIFT  &sl 1		&sl 2  &sk LALT  &sk LCTRL
			>;
		};

		raised_layer {
			bindings = <
                		&kp PERCENT  &kp N1     &kp N2     &kp N3         &kp N4  &kp N5 	&kp N6     &kp N7       &kp N8     &kp N9       &kp N0        &none
                		&kp PIPE     &kp STAR   &kp PLUS   &kp SLASH      &kp GT  &kp DQT   	&kp AMPS   &shift_left  &shift_up  &shift_down  &shift_right  &kp DEL
                		&kp HASH     &kp TILDE  &kp MINUS  &kp KP_DIVIDE  &kp LT  &kp SQT    	&kp CARET  &kp DOT      &kp COMMA  &kp EQUAL    &none         &none
                		                                   &trans         &trans  &trans     	&trans     &trans       &trans
			>;
		};

		lowered_layer {
			bindings = <
		                &kp F1  &kp F2     &kp F3  &kp F4  &kp F5  &kp F6	&kp F7     &kp F8             &kp F9           &kp F10   &kp F11  &kp F12
		                &none   &none      &none   &none   &none   &none        &kp QMARK  &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp LPAR  &none    &none
               			&none   &kp UNDER  &none   &none   &none   &kp GRAVE	&none      &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RPAR  &none    &none
		                                           &trans  &trans  &trans	&trans     &trans             &trans
			>;
		};
	};
};
